.cara{
    width: 270px;
    height: 300px;
    border: 3px;
    background-color: rgb(248, 216, 36);
    display:flex;
}
.ojo1{
   width: 100px; 
   height: 100px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50px;
   background: white;
   border: 2px solid;
   margin: 20px;
   margin-right: -25px;
}
.iris1{
    width: 50px; 
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50px;
    background: rgb(48, 132, 228);
    margin: 25px;
    border: 2px solid;
}
.pupila1{
    width: 30px; 
    height: 30px;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20px;
    background: rgb(1, 3, 5);
    margin: 10px;
    border: 2px solid;

}
.ojo2{
    width: 100px; 
   height: 100px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50px;
   background: white;
   border: 2px solid;
   margin: 20px;
 }
 .iris2{
    width: 50px; 
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50px;
    background: rgb(48, 132, 228);
    margin: 25px;
    border: 2px solid;
 }
 .pupila2{
    width: 30px; 
    height: 30px;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20px;
    background: rgb(1, 3, 5);
    margin: 10px;
    border: 2px solid;
 
 }
 .camisa {
    width: 270px; 
    height: 50px; 
    border: 3px;
    background: #edeef0;
}
.pantalon{
    width: 270px; 
    height: 50px; 
    border: 3px;
    background: rgb(77, 37, 6);
}
.nariz{
    width: 20px;
    height: 40px;
    background: #f5EE31;
    position: absolute;
    top: 110px;
    left: 130px;
    border: 5px, solid;
    z-index: 10;
    border-bottom: 5px solid transparent;
    margin: -9px;
    border-radius: 42.5%;
}
.smile{
    width: 210px;
    height: 80px;
    background: transparent;
    top: 140px;
    left: 30px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    border-bottom: 8px solid black;
    }
.cheek{
     width: 30px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 130px;
    border: 3px solid rgba(234, 64, 95, 0.519);
    border-bottom: 3px solid transparent;
    border-radius: 50% 50%;
    margin-left: -190px;
    }
.cheek2{
    width: 30px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 130px;
    border: 3px solid rgba(234, 64, 95, 0.519);
    border-bottom: 3px solid transparent;
    border-radius: 50% 50%;
    margin-left: 20px;
    }
.tooth{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    margin-top: 210px;
    margin-left: -70px;
    background-color: aliceblue;
    }
.tooth2{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    margin-top: -40px;
    margin-left: -110px;
    background-color: aliceblue;  
    }
.neck{
    width: 60px; 
    height: 40px;
    position: absolute;
    margin-top: 277px;
    background-color: rgb(255, 255, 255);
    margin-left: -156px;
    border: 5px solid black;
    transform: rotate(35deg);
   }
.neck2{
    width: 60px; 
    height: 40px;
    position: absolute;
    margin-top: 277px;
    background-color: rgb(255, 255, 255);
    margin-left: -62px;
    border: 5px solid black;
    transform: rotate(-35deg);
    }
.knot-tie{
    width: 30px;
    height: 30px;
    background-color: rgb(220, 30, 30);
    border: 5px solid black;
    position: absolute;
    transform: rotate(-45deg);
    margin-top: 300px;
    margin-left: -90px;
    z-index: 1;
     }
.knot{
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: rgb(255, 0, 0);
    border: 5px solid black;
    margin-top: 315px;
    margin-left: -115px; 
    transform: rotate(45deg);
     }